In [4]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import datetime
import seaborn as sns
import pickle
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import precision_score, recall_score
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
%matplotlib inline
from sklearn.utils import resample
import re
import nltk
from sklearn.linear_model import LogisticRegressionCV
from sklearn.multiclass import OneVsRestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import mean_squared_error, r2_score

In [5]:
!pip install sqlalchemy
!pip install pymssql

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.3.9)
Requirement already satisfied: pymssql in c:\programdata\anaconda3\lib\site-packages (2.1.4)

In [6]:
import sqlalchemy as sa
import pandas as pd
from sqlalchemy import create_engine

In [7]:
Username = 'admin'
Password = 'amazing_people'
Host = 'alphacode-explore.ccwgqdqrrmvt.eu-west-1.rds.amazonaws.com'
Port = '1433'
Database = 'Tebogo'

In [8]:
connection = create_engine(
    'mssql+pymssql://' +
    Username + ':' + Password + '@' + Host + ':' + Port + '/' + Database
)

In [9]:
sql_query1 = "USE Tebogo Select * from bank_statements"

In [10]:
train = pd.read_sql_query(sql_query1, connection)
train.head()

,Transaction_Date,Posting_Date,Description,Debits,Credits,Category,Column_7,CATEGORIES,Column_9
0,2020/02/10,2020/02/10,MTN DATA BUNDLES,499,None,COMMUNICATION,None,HOME,None
1,2020/02/08,2020/02/09,APPLE.COM/BILL CORK IE,74.99,None,ENTERTAINMENT & EAT OUT,None,FOOD,None
2,2020/02/07,2020/02/09,PARKHURST HARDWARE RE PARKHURST ZA,75,None,HOME,None,TRANSPORT,None
3,2020/02/07,2020/02/08,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,ENTERTAINMENT & EAT OUT,None,LIFE AND HEALTH,None
4,2020/02/07,2020/02/08,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,29.98,None,ENTERTAINMENT & EAT OUT,None,COMMUNICATION,None

In [11]:
train.tail()

,Transaction_Date,Posting_Date,Description,Debits,Credits,Category,Column_7,CATEGORIES,Column_9
938,None,2020-02-02,IBANK PAYMENT,200,None,GIFTS AND DONATIONS,None,None,None
939,None,2020-02-02,POS PURCHASE BP Filling Sta,81.6,None,TRANSPORT,None,None,None
940,None,2020-02-02,POS PURCHASE BP Filling Sta,28,None,TRANSPORT,None,None,None
941,None,2020-02-01,ACB DEBIT:EXTERNAL VIRGIN ACT,297.5,None,LIFE AND HEALTH,None,None,None
942,None,2020-02-01,MANAGEMENT FEE,29,None,FEES,None,None,None

In [12]:

y=train.Category.apply(lambda x: x.lower())
y.head()

0              communication
1    entertainment & eat out
2                       home
3    entertainment & eat out
4    entertainment & eat out
Name: Category, dtype: object

In [13]:
y.value_counts()

transport                  295
fees                       216
entertainment & eat out    174
communication               68
food                        42
home                        32
other                       28
short-term credit           27
life and health             19
saving and investment       17
gifts & donations           15
education                    7
interest                     1
gifts and donations          1
income                       1
Name: Category, dtype: int64

In [14]:
y_unique = y.value_counts()
y_unique = pd.DataFrame(y_unique)
y_unique.head()

                         Category
transport                     295
fees                          216
entertainment & eat out       174
communication                  68
food                           42

In [15]:
y_unique = y_unique.reset_index(drop=False)
y_unique.head()

                     index  Category
0                transport       295
1                     fees       216
2  entertainment & eat out       174
3            communication        68
4                     food        42

In [16]:
y_unique.drop(['Category'], axis=1, inplace=True)  
y_unique['New_ID'] = y_unique.index
y_unique.head()

                     index  New_ID
0                transport       0
1                     fees       1
2  entertainment & eat out       2
3            communication       3
4                     food       4

In [17]:
len(y_unique)

15

In [18]:
y =  pd.DataFrame(y)
y.head()

                  Category
0            communication
1  entertainment & eat out
2                     home
3  entertainment & eat out
4  entertainment & eat out

In [19]:
y.Category.values

array(['communication', 'entertainment & eat out', 'home',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'saving and investment',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'saving and investment',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out', 'other',
       'saving and investment', 'life and health', 'other',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out',
       'life and health', 'saving and investment',
       'saving and investment', 'communication', 'life and health',
       'short-term credit', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'home', 'entertainment & eat out',
       'other', 'home', 'home', 'other', 'other',
       'entertainment & eat out', 'entertainment & eat out',
       'saving and investment', 'entertainment & eat out',
       'entertainment & eat out', 'home', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out', 'other',
       'entertainment & eat out', 'entertainment & eat out', 'transport',
       'communication', 'saving and investment', 'transport',
       'entertainment & eat out', 'food', 'home', 'transport',
       'transport', 'transport', 'transport', 'food', 'transport',
       'transport', 'communication', 'fees', 'communication', 'fees',
       'fees', 'fees', 'short-term credit', 'short-term credit',
       'transport', 'gifts & donations', 'home', 'saving and investment',
       'entertainment & eat out', 'entertainment & eat out', 'fees',
       'short-term credit', 'communication', 'fees', 'fees', 'transport',
       'short-term credit', 'transport', 'transport',
       'entertainment & eat out', 'transport', 'transport', 'transport',
       'transport', 'transport', 'transport', 'transport', 'fees', 'fees',
       'fees', 'entertainment & eat out', 'life and health', 'transport',
       'transport', 'transport', 'fees', 'entertainment & eat out',
       'entertainment & eat out', 'transport', 'communication',
       'transport', 'transport', 'transport', 'transport', 'transport',
       'transport', 'transport', 'entertainment & eat out', 'transport',
       'transport', 'life and health', 'transport', 'transport',
       'entertainment & eat out', 'transport', 'transport', 'transport',
       'transport', 'transport', 'transport', 'food', 'fees',
       'communication', 'fees', 'transport', 'transport', 'transport',
       'transport', 'transport', 'transport', 'communication', 'fees',
       'fees', 'transport', 'entertainment & eat out', 'transport',
       'entertainment & eat out', 'transport', 'transport', 'transport',
       'transport', 'transport', 'transport', 'transport', 'transport',
       'fees', 'entertainment & eat out', 'fees', 'fees', 'transport',
       'transport', 'fees', 'transport', 'transport', 'food', 'food',
       'food', 'food', 'transport', 'transport', 'fees',
       'entertainment & eat out', 'food', 'fees', 'fees', 'communication',
       'entertainment & eat out', 'communication', 'fees',
       'entertainment & eat out', 'communication', 'fees', 'fees', 'fees',
       'fees', 'transport', 'communication', 'fees', 'communication',
       'fees', 'communication', 'fees', 'short-term credit', 'transport',
       'entertainment & eat out', 'transport', 'gifts & donations',
       'communication', 'fees', 'home', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'fees', 'communication', 'fees',
       'transport', 'transport', 'transport', 'transport', 'transport',
       'transport', 'short-term credit', 'fees', 'fees', 'fees', 'fees',
       'communication', 'fees', 'fees', 'gifts & donations',
       'entertainment & eat out', 'transport', 'short-term credit',
       'transport', 'entertainment & eat out', 'transport',
       'entertainment & eat out', 'entertainment & eat out', 'transport',
       'transport', 'transport', 'fees', 'entertainment & eat out',
       'transport', 'transport', 'fees', 'fees', 'communication',
       'transport', 'entertainment & eat out', 'entertainment & eat out',
       'communication', 'fees', 'transport', 'other', 'transport',
       'communication', 'fees', 'transport', 'saving and investment',
       'transport', 'communication', 'fees', 'food', 'transport',
       'communication', 'fees', 'transport', 'communication', 'fees',
       'transport', 'transport', 'entertainment & eat out', 'transport',
       'transport', 'transport', 'transport', 'fees', 'transport',
       'transport', 'entertainment & eat out', 'entertainment & eat out',
       'transport', 'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'fees', 'fees', 'food', 'transport',
       'short-term credit', 'transport', 'short-term credit',
       'entertainment & eat out', 'transport', 'entertainment & eat out',
       'home', 'communication', 'fees', 'short-term credit', 'fees',
       'communication', 'fees', 'fees', 'short-term credit', 'transport',
       'transport', 'entertainment & eat out', 'transport',
       'saving and investment', 'gifts & donations', 'gifts & donations',
       'fees', 'entertainment & eat out', 'transport', 'transport',
       'transport', 'transport', 'transport', 'entertainment & eat out',
       'transport', 'entertainment & eat out', 'life and health',
       'education', 'education', 'transport', 'transport', 'transport',
       'transport', 'communication', 'transport', 'transport',
       'transport', 'fees', 'transport', 'transport', 'transport',
       'transport', 'transport', 'transport', 'transport', 'transport',
       'transport', 'transport', 'transport', 'transport', 'transport',
       'transport', 'transport', 'entertainment & eat out', 'transport',
       'transport', 'transport', 'gifts & donations', 'transport',
       'transport', 'transport', 'transport', 'food',
       'entertainment & eat out', 'communication', 'fees', 'transport',
       'transport', 'transport', 'transport', 'transport', 'transport',
       'transport', 'entertainment & eat out', 'transport',
       'entertainment & eat out', 'fees', 'transport', 'transport',
       'transport', 'transport', 'entertainment & eat out', 'transport',
       'transport', 'transport', 'transport', 'communication', 'fees',
       'fees', 'fees', 'transport', 'entertainment & eat out', 'fees',
       'transport', 'transport', 'transport', 'gifts & donations',
       'entertainment & eat out', 'transport', 'short-term credit',
       'short-term credit', 'transport', 'entertainment & eat out',
       'transport', 'home', 'gifts & donations', 'education',
       'saving and investment', 'food', 'entertainment & eat out',
       'communication', 'entertainment & eat out', 'short-term credit',
       'fees', 'fees', 'home', 'education', 'transport', 'food',
       'entertainment & eat out', 'entertainment & eat out', 'transport',
       'entertainment & eat out', 'fees', 'transport', 'transport',
       'transport', 'transport', 'entertainment & eat out',
       'entertainment & eat out', 'food', 'food', 'transport',
       'entertainment & eat out', 'transport', 'entertainment & eat out',
       'transport', 'entertainment & eat out', 'transport',
       'entertainment & eat out', 'transport', 'transport',
       'entertainment & eat out', 'entertainment & eat out', 'transport',
       'fees', 'fees', 'transport', 'transport', 'transport',
       'entertainment & eat out', 'food', 'entertainment & eat out',
       'transport', 'food', 'entertainment & eat out', 'fees',
       'transport', 'transport', 'fees', 'transport', 'communication',
       'transport', 'other', 'entertainment & eat out',
       'entertainment & eat out', 'transport', 'transport',
       'entertainment & eat out', 'transport', 'transport', 'transport',
       'fees', 'fees', 'fees', 'other', 'transport', 'communication',
       'fees', 'transport', 'entertainment & eat out', 'transport',
       'food', 'transport', 'communication', 'fees', 'fees', 'fees',
       'entertainment & eat out', 'transport', 'transport', 'transport',
       'communication', 'fees', 'fees', 'transport',
       'entertainment & eat out', 'transport', 'food', 'transport',
       'fees', 'fees', 'fees', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out', 'fees',
       'fees', 'transport', 'transport', 'fees',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out', 'fees',
       'fees', 'transport', 'transport', 'communication', 'fees',
       'entertainment & eat out', 'fees', 'fees', 'transport',
       'entertainment & eat out', 'fees', 'transport', 'transport',
       'transport', 'entertainment & eat out', 'entertainment & eat out',
       'fees', 'short-term credit', 'entertainment & eat out',
       'transport', 'transport', 'entertainment & eat out', 'fees',
       'entertainment & eat out', 'transport', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out', 'transport',
       'transport', 'life and health', 'food', 'food', 'transport',
       'transport', 'entertainment & eat out', 'home',
       'saving and investment', 'food', 'communication', 'fees', 'fees',
       'communication', 'short-term credit', 'fees', 'fees', 'fees',
       'home', 'entertainment & eat out', 'entertainment & eat out',
       'food', 'short-term credit', 'transport', 'transport', 'transport',
       'transport', 'transport', 'transport', 'transport',
       'entertainment & eat out', 'transport', 'entertainment & eat out',
       'entertainment & eat out', 'food', 'entertainment & eat out',
       'fees', 'fees', 'entertainment & eat out', 'fees', 'fees', 'fees',
       'fees', 'transport', 'transport', 'transport', 'transport',
       'transport', 'transport', 'transport', 'transport', 'transport',
       'gifts & donations', 'fees', 'fees', 'transport', 'transport',
       'transport', 'transport', 'life and health', 'transport',
       'transport', 'transport', 'entertainment & eat out',
       'entertainment & eat out', 'fees', 'fees', 'transport',
       'life and health', 'entertainment & eat out', 'transport', 'fees',
       'fees', 'fees', 'entertainment & eat out',
       'entertainment & eat out', 'gifts & donations', 'fees', 'fees',
       'entertainment & eat out', 'entertainment & eat out', 'food',
       'transport', 'transport', 'transport', 'entertainment & eat out',
       'fees', 'transport', 'transport', 'fees', 'fees', 'fees',
       'transport', 'transport', 'transport', 'transport', 'fees',
       'communication', 'fees', 'fees', 'life and health',
       'life and health', 'life and health', 'life and health',
       'entertainment & eat out', 'transport', 'communication', 'fees',
       'entertainment & eat out', 'short-term credit', 'transport',
       'transport', 'entertainment & eat out', 'entertainment & eat out',
       'communication', 'fees', 'communication', 'fees',
       'short-term credit', 'gifts & donations', 'saving and investment',
       'entertainment & eat out', 'communication', 'fees',
       'communication', 'fees', 'fees', 'gifts & donations', 'fees',
       'entertainment & eat out', 'entertainment & eat out',
       'life and health', 'saving and investment', 'fees',
       'life and health', 'transport', 'transport', 'food', 'transport',
       'transport', 'fees', 'fees', 'fees', 'transport',
       'entertainment & eat out', 'transport', 'life and health', 'food',
       'transport', 'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'transport', 'fees', 'transport',
       'fees', 'fees', 'fees', 'food', 'transport',
       'entertainment & eat out', 'entertainment & eat out', 'transport',
       'transport', 'entertainment & eat out', 'food', 'fees', 'food',
       'life and health', 'food', 'transport', 'transport',
       'entertainment & eat out', 'communication', 'short-term credit',
       'fees', 'fees', 'gifts & donations', 'gifts & donations',
       'transport', 'short-term credit', 'entertainment & eat out',
       'transport', 'transport', 'transport', 'food',
       'entertainment & eat out', 'fees', 'entertainment & eat out',
       'food', 'transport', 'transport', 'communication', 'fees', 'food',
       'transport', 'fees', 'education', 'fees', 'transport', 'fees',
       'transport', 'life and health', 'fees', 'entertainment & eat out',
       'transport', 'transport', 'transport', 'fees', 'transport',
       'communication', 'fees', 'communication', 'fees', 'food',
       'transport', 'transport', 'entertainment & eat out',
       'communication', 'fees', 'entertainment & eat out', 'transport',
       'entertainment & eat out', 'entertainment & eat out',
       'communication', 'fees', 'communication', 'fees', 'transport',
       'communication', 'fees', 'entertainment & eat out',
       'entertainment & eat out', 'entertainment & eat out', 'transport',
       'entertainment & eat out', 'fees', 'fees', 'communication', 'fees',
       'fees', 'home', 'fees', 'fees', 'home', 'home', 'fees',
       'transport', 'fees', 'fees', 'fees', 'home', 'transport',
       'entertainment & eat out', 'fees', 'home', 'fees', 'home', 'home',
       'home', 'fees', 'home', 'communication', 'home', 'home', 'fees',
       'fees', 'fees', 'entertainment & eat out', 'fees', 'transport',
       'fees', 'fees', 'communication', 'home', 'communication',
       'transport', 'home', 'fees', 'transport', 'transport', 'fees',
       'fees', 'transport', 'communication', 'fees', 'communication',
       'fees', 'other', 'fees', 'fees', 'home', 'fees', 'fees', 'fees',
       'home', 'transport', 'fees', 'transport', 'transport', 'transport',
       'other', 'other', 'short-term credit', 'fees', 'fees',
       'gifts & donations', 'saving and investment', 'fees', 'other',
       'fees', 'saving and investment', 'education',
       'entertainment & eat out', 'fees', 'home', 'fees', 'fees', 'food',
       'food', 'food', 'saving and investment', 'communication', 'fees',
       'fees', 'communication', 'communication', 'fees', 'communication',
       'food', 'fees', 'fees', 'fees', 'other', 'other', 'other', 'other',
       'other', 'fees', 'fees', 'food', 'transport', 'food',
       'communication', 'communication', 'interest', 'fees', 'fees',
       'fees', 'fees', 'home', 'home', 'communication', 'food', 'home',
       'other', 'transport', 'other', 'other', 'communication', 'other',
       'fees', 'other', 'short-term credit', 'other', 'fees', 'fees',
       'entertainment & eat out', 'short-term credit', 'fees',
       'entertainment & eat out', 'communication', 'communication',
       'short-term credit', 'fees', 'fees', 'fees',
       'entertainment & eat out', 'entertainment & eat out',
       'entertainment & eat out', 'short-term credit', 'other', 'fees',
       'fees', 'other', 'fees', 'fees', 'fees', 'fees', 'income', 'fees',
       'fees', 'communication', 'fees', 'education', 'other', 'other',
       'gifts and donations', 'transport', 'transport', 'life and health',
       'fees'], dtype=object)

In [20]:
mapping = dict(y_unique[['index', 'New_ID']].values)
y['Item_ID'] = y.Category.map(mapping)
y.head()

                  Category  Item_ID
0            communication        3
1  entertainment & eat out        2
2                     home        5
3  entertainment & eat out        2
4  entertainment & eat out        2

In [21]:
y.drop(['Category'], axis=1, inplace=True)
y.head()

   Item_ID
0        3
1        2
2        5
3        2
4        2

In [23]:
len(y)

943

In [24]:
features = train.Description.values
features2 = train.Description.values

In [25]:

features[:5]

array(['MTN DATA BUNDLES', 'APPLE.COM/BILL CORK IE',
       'PARKHURST HARDWARE    RE PARKHURST ZA',
       'SEATTLE RENNIES HOUSE JOHANNESBURG ZA',
       'FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA'], dtype=object)

In [26]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Oratile\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Oratile\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [27]:
from nltk.stem.wordnet import WordNetLemmatizer 
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

lem = WordNetLemmatizer()
# ps = PorterStemmer()
corpus =[]
# cleaning text
for i in range(0,len(features)):

    item = re.sub('[^a-zA-Z]', ' ',str(features)) 
    item = item.lower()
    item = item.split()
    stop_wrds = set(stopwords.words('english'))
    item = [lem.lemmatize(word, "v") for word in item if not word in stop_wrds]
    item = ' '.join(item)
    corpus.append(item)

new_features = corpus

In [28]:
new_features[0]

'mtn data bundle apple com bill cork ie parkhurst hardware parkhurst za seattle rennies house johannesburg za flm rennie house eater braamfontein za flm rennie house eater braamfontein za flm rennie house eater braamfontein za flm rennie house eater braamfontein za seattle rennies house johannesburg za flm rennie house eater braamfontein za property rondebosch za seattle rennies house johannesburg za flm rennie house eater braamfontein za flm rennie house eater braamfontein za investecpb apple com bill itunes com ie bloom coffee studio cape town za seattle rennies house johannesburg za flm rennie house eater braamfontein za investecpb admed admed taxassist netcash seattle rennies house johannesburg za flm rennie house eater braamfontein za flm rennie house eater braamfontein za bolton rd collection parkview za virgin act rent levy mtn sp disc prem discovery vir atl vir atl gb amzn digital ch w kv us foundry cafe parktown nort za seattle rennies house johannesburg za flm rennie house eater braamfontein za moregolf pmg curr outsurance ot fz seattle rennies house johannesburg za atmsol termloc fu bruma za rent rent merchant place sandton za jetline hydepark johannesburg za fego cafe rmb sandton za seattle rennies house johannesburg za absa bank neom long rent motherland coffee compan sandton za motherland coffee compan sandton za pool team craighall craighall za bloom coffee studio cape town za bloom coffee studio cape town za seattle rennies house johannesburg za seattle rennies house johannesburg za flm rennie house eater braamfontein za budget vap jan prem amzn digital l ci z us flm rennie house eater braamfontein za intellepark rosebank za mtn data bundle tshifhiwa rent minty sasol rosebank parkwood za seattle rennies house johannesburg za woolworths parktown qua johannesburg za hours vet clinic parktown nort za uber sa hel jul uber sa hel jul shell champion uber sa gauteng zaf h checker bram fischer bolt eu jul bolt eu jul vod prepay fee pre pay top vod prepay fee pre pay top intl trans f intl trans f reblake wesbank fi wesbank fi nsiki karen steelsmith plan ib transfer liquorshop bram fische theunlimited aup fee e comm speccreditfevertree telkommobi overdraft service fee fix monthly fee iwyze prm sbsanaedo uber sa hel jul uber sa hel jul ucount uber sa hel jul c bp ontdekke aug uber sa hel jul bolt eu jul bolt eu jul uber sa hel jul uber sa hel jul intl trans f intl trans f fee bank atm xai xai lounge c sorbet nail aug bolt eu aug uber sa hel aug bp hans strydom intl trans f u takealot co aug c melville co aug uber sa hel aug u payfast coo aug uber sa hel aug uber sa hel aug uber sa hel aug uber sa hel aug uber sa hel aug uber sa hel aug uber sa hel aug c xai xai lou aug uber sa hel aug uber sa hel aug c click cant aug uber sa hel aug uber sa hel aug c hell kitc aug uber sa hel aug uber sa hel aug uber sa hel aug uber sa hel aug uber sa hel aug bolt eu aug checker bram fischer intl trans f vod prepay fee pre pay top uber sa hel aug uber sa hel aug bolt eu aug uber sa hel aug uber sa hel aug uber sa hel aug vod prepay fee pre pay top intl trans f uber sa gauteng zaf h pnp exp ha randburg zaf h uber sa hel aug u takealot aug uber sa gauteng zaf h uber sa gauteng zaf h uber sa hel aug uber sa hel aug uber sa hel aug uber sa hel aug uber sa hel aug uber sa gauteng zaf h fee e comm c kbs coffee aug fee e comm fee e comm c caltex fact aug uber sa gauteng zaf h fee e comm uber sa gauteng zaf h uber sa gauteng zaf h woolworths aug checker b sb zaf h checker b sb zaf h checker b sb zaf h c caltex fact aug c caltex facto fee e comm pnp exp linden park checker bram fischer fee e comm fee e comm u payfast aug pnp express h aug vod prepay fee pre pay top smokers deli melville vod prepay fee pre pay top overdraft interest bolt eu tallinn zaf h bolt eu tallinn zaf h uber sa hel aug vod prepay fee pre pay top vod prepay fee pre pay top vod prepay fee pre pay top wesbank fi bolt eu aug pnp express h aug c bp hans str aug nsiki vod prepay fee pre pay top karen steelsmith liquor city melville moyo zoo lake pty lt liquorshop bram fische theunlimited aup intl trans f vod prepay fee pre pay top wesbank fi bolt eu aug bolt eu aug uber sa hel aug bolt eu aug bolt eu aug speccreditfevertree intl trans f intl trans f intl trans f intl trans f telkommobi overdraft service fee fix monthly fee momma liquorshop bram fische iwyze prm sbsanaedo uber sa hel aug liquorshop br aug uber sa hel aug ucount netflix com aug uber sa hel aug uber sa hel aug total ra william nicol intl trans f u takealot co sep uber sa hel sep bolt eu sep fee e comm intl trans f u payfast coo sep uber sa hel sep pnp exp ha randburg zaf h pnp express h sep vod prepay fee pre pay top uber sa help sep c chamdor ser sep uber sa help sep vod prepay fee pre pay top uber sa hel sep uber sa hel sep vod prepay fee pre pay top c eleven fa sep uber eat sep vod prepay fee pre pay top uber sa hel sep vod prepay fee pre pay top uber sa hel sep uber sa hel sep six restau johannesburg zaf uber sa gauteng zaf h uber sa hel sep bolt eu sep uber sa gauteng zaf h intl trans f uber sa hel sep uber sa hel sep c six restaur sep spotifyza stockholm sen h uber sa hel sep pnp express h sep spotifyza stockholm sen h spotifyza stockholm sen h overdraft interest excess interest checker bram fischer uber sa hel sep reblake wesbank fi wesbank fi theunlimited aup uber sa hel sep spotifyza sep karen steelsmith vod prepay fee pre pay top speccreditfevertree intl trans f telkommobi overdraft service fee fix monthly fee sbsanaedo iwyze prm uber sa hel sep netflix com sep uber sa hel sep baby momma intl trans f ucount c caltex fact oct uber sa hel sep uber sa hel sep uber sa hel sep uber sa hel sep c dukes burge sep uber sa hel sep c ballbreaker sep c pg glass fo sep claassen claassen claassen claassen train uber sa hel sep uber sa hel sep uber sa hel oct uber sa hel oct u payfast coo oct uber sa hel oct uber sa hel oct uber sa hel oct fee bank atm uber sa hel oct uber sa hel oct uber sa hel oct uber sa hel oct c cltx ruhama oct uber sa hel oct uber sa hel oct uber sa hel oct sasol randburg uber sa hel oct uber sa hel oct c caltex wate oct c bp hans str oct uber sa hel oct uber sa hel oct pnp express h oct uber sa hel oct uber sa hel oct uber sa hel oct nsiki uber sa hel oct uber sa hel oct uber sa hel oct uber sa hel oct checker bram fischer liquorshop bram fische vod prepay fee pre pay top c caltex fair oct uber sa hel oct uber sa hel oct uber sa hel oct uber sa hel oct uber sa hel oct uber sa hel oct c kfc keywest oct uber sa hel oct spotifyza stockholm sen h fee pos decline insuff fund uber sa gauteng zaf h uber sa hel oct uber sa gauteng zaf h uber sa hel oct spotifyza stockholm sen h c bp hans str oct uber sa hel oct uber sa hel oct uber sa hel oct vod prepay fee pre pay top overdraft interest excess interest c caltex fair oct spotifyza oct intl trans f c bp hans str oct c caltex fair oct c engen paard oct baby pnp express h oct wesbank fi reblake wesbank fi uber sa help oct mr food oct c engen paard oct karen landlord vee claassen claassen management checker bram fischer engen william nicol telkommobi theunlimited aup speccreditfevertree overdraft service fee fix monthly fee karen landlord claassen claassen trainin iwyze prm c checker br oct netflix com oct c pnp liq fer oct uber sa hel oct ucount intl trans f uber sa hel oct uber sa hel oct uber sa hel nov uber sa hel oct flm rennie ho nov flm rennie house eater r checker checker bram fischer uber sa hel nov c kitcheners nov uber sa hel nov c hell kitc nov uber sa hel nov c kitcheners nov uber sa hel nov pnp express h nov bolt eu ou bolt eu ou pnp express l nov liquorshop br nov uber sa hel nov intl trans f intl trans f uber sa hel nov c bp ridge wo nov uber sa hel nov mr food nov r pnp fam liquorshop br nov bolt eu ou pnp express h nov c liquor city nov intl trans f bolt eu ou nov c sasol n n nov intl trans f uber sa hel nov u payfast coo nov c engen paard nov c postnet bra nov flm rennie house eater flm rennie house eater uber sa gauteng zaf h bolt eu nov rsmio resume nov bolt eu nov uberbv help uber co nld h uber sa gauteng zaf h intl trans f intl trans f intl trans f c postnet bra nov uber sa hel nov vod prepay fee pre pay top uber sa hel nov spotifyza nov uber sa hel nov woolworths nov bolt eu nov vod prepay fee pre pay top intl trans f intl trans f mr food z nov uber sa hel nov c engen taher nov bolt eu nov vod prepay fee pre pay top intl trans f bolt eu nov rsmio resume nov bolt eu nov checker bram fischer uber sa gauteng zaf h intl trans f intl trans f intl trans f liquorshop bram fische c liquorshop nov c liquorshop nov bolt eu tallinn zaf h bolt eu tallinn zaf h uber sa gauteng zaf h uberbv help uber co nld h bolt eu tallinn zaf h mr price fern nov pnp liq fernd nov c liquorshop nov flm rennie house eater overdraft interest excess interest bolt eu nov bolt eu nov vod prepay fee pre pay top doppio zer cradlestone zaf intl trans f intl trans f bolt eu nov seattle rennie house intl trans f bolt eu nov uber sa hel nov c sasol r w nov liquorshop bram fische flm rennie house eater intl trans f wesbank fi c doppio zero nov c caltex welt nov bolt eu nov theunlimited aup intl trans f cafe caltex motorserve hell kitchen hell kitchen xai xai lounge wesbank fi bolt eu nov c studio moma nov checker fern nov c checker fe nov bolt eu nov uber sa hel nov top robindale karen landlord r checker vod prepay fee pre pay top intl trans f telkommobi speccreditfevertree intl trans f overdraft service fee fix monthly fee karen landlord magalies vulstasie top magalies spar magalies supr spa sbsanaedo iwyze prm bolt eu nov c bp luipaard nov bolt eu nov bolt eu nov bolt eu nov bolt eu nov c loco liquor nov uber sa hel nov netflix com nov c codf nov pnp exp linden park seattle rennie house intl trans f intl trans f ucount intl trans f intl trans f intl trans f intl trans f uber sa hel nov uber sa hel nov bolt eu dec c caltex fair nov uber sa hel nov c shell parkh nov bolt eu dec uber sa hel nov uber sa hel nov baby intl trans f intl trans f uber sa hel dec uber sa hel dec bolt eu dec bolt eu dec l flysafair dec uber sa hel dec uber sa hel dec uber sa hel dec liquorshop br nov u takealot dec intl trans f intl trans f bolt eu dec mango airli dec u takealot dec bolt eu dec fee bank atm intl trans f intl trans f loco liquore dec liquorshop br dec frg nbastore dec atm cash decline bal provide intl trans f hell kitchen c h clearwa dec spar robindal dec c cltx water dec bolt eu dec caltex fairla dec khaliques oriental pla intl trans f bolt eu dec uber sa hel dec bolt eu tallinn zaf h bolt eu tallinn zaf h intl trans f bolt eu dec bolt eu dec uber sa hel dec uberbv help uber co nld h bolt eu tallinn zaf h payfast eft intl trans f intl trans f rental avis rent johannesburg zaf avis rent johannesburg zaf game gateway circus circus shell uc south bind vod prepay fee pre pay top san lameer country wesbnknaed uber sa hel dec uberbv help uber co nld h spotifyza stockholm sen h theunlimited aup vod prepay fee pre pay top vod prepay fee pre pay top dr mokitimi vee budget spotifyza dec vod prepay fee pre pay top vod prepay fee pre pay top intl trans f baby fee bank atm rsmio resume dec c diner e dec l flysafair dec intl trans f c studio moma dec c caltex fact dec c caltex fair dec woolworths dec c caltex fair dec c bp luipaard dec fee pre pay top fee bank atm intl trans f uber sa gauteng zaf h pnp liq fernd dec c total ra dec hertz rent dec c pnp family dec uber sa hel dec c sweet treat dec c h roseban dec mcd victory p dec uber sa gauteng zaf h fee pos decline insuff fund uber sa gauteng zaf h overdraft interest excess interest c bms intersi dec c foodlovers dec uber sa hel dec c decofurn sp dec c pearl vill dec c engen fairy dec c engen hippo dec c city late dec pnp hpr prosp dec c rhapsodys l dec woolworths dec hertz rent dec c pnp hpr pro dec c engen hippo dec wesbank fi game dionw telkommobi speccreditfevertree overdraft service fee fix monthly fee nokwanda sifiso iwyze prm sbsanaedo netflix com dec sasol ferndale sasol ferndale sasol ferndale checker bram fischer ucount intl trans f bootlegger ferndale pnp express l jan uber sa hel jan bolt eu jan u payfast coo jan intl trans f checker bram jan bolt eu jan intl trans f whc ta dept surger whc department surgery bolt eu jan intl trans f bolt eu jan dischem park station intl trans f c liquor city jan c caltex fair jan bolt eu jan c us powerspo jan intl trans f uber sa hel jan vod prepay fee pre pay top vod prepay fee pre pay top checker bram jan c engen conra jan c engen paard jan mr food z jan vod prepay fee pre pay top seattle rennie house c caltex fair jan spotifyza stockholm sen h liquorshop br jan vod prepay fee pre pay top vod prepay fee pre pay top c total ra jan vod prepay fee pre pay top flm rennie house eater spotifyza stockholm sen h c wimpy key w jan c engen prote jan spotifyza stockholm sen h overdraft interest excess interest bank app prepay purchase vodacom sms notification fee sms notification fee pick n pay birchleigh card sms notification fee sms notification fee pick n pay birchleigh card purchase cash r pep store card till cash withdrawal fee gautrain rhodesfield gauteng card interest receive sms notification fee monthly account admin fee click birchleigh card engen kempton park card online purchase computicket victory park card sms notification fee purchase cash r pick n pay rustenburg card till cash withdrawal fee woolworths rustenburg card flm rustenburg platinu rustenburg card flm rustenburg platinu rustenburg card sms notification fee spar rustenburg card bank app prepay purchase huang mei import e rustenberg card purchase cash r spar rustenburg card till cash withdrawal fee interest receive monthly account admin fee online purchase amzn digital np h card sms notification fee atm cash withdrawal rustenburg thlabane card atm cash withdrawal fee sms notification fee bank app prepay purchase ta flm rennie house eater braamfontein card bank app prepay purchase ta gautrain rhodesfield gauteng card purchase cash r pep store kempton park card till cash withdrawal fee gautrain park tvm gauteng card atm cash withdrawal dnr jnb braamfontein card atm cash withdrawal fee sms notification fee gautrain rhodesfield gauteng card bank app prepay purchase ta sms notification fee bank app prepay purchase mtn sms notification fee bank app cash send c cash send fee sms notification fee flm rennie house eater braamfontein card interest receive sms notification fee monthly account admin fee flm rennie house eater braamfontein card gautrain rhodesfield gauteng card sms notification fee gautrain park tvm gauteng card gautrain rhodesfield gauteng card gautrain park tvm gauteng card eig hostgator honfee r eig hostg game fin carry forward bring forward tithe ommaxperls gb linkage fee explore software vat r tax free save account regensys dstv interest rent maintenance fee cross border checker colum click columbi flm rennie hou explore stockvel airtime w airtime carry forward bring forward airtime w airtime airtime w airtime nedbank send imali airtime w airtime chicken licken carry forward provisional statement bring forward withdrawal facebook hostgator facebk ar eig hostgator nedbank send imali cross border checker colum sasol oakdene click columbi airtime w airtime airtime w airtime interest recieved credit interest payment withdrawal notification sms fee payment withdrawal notification sms fee payment withdrawal notification sms fee payment withdrawal notification sms fee pos purchase woolworths campus squarjohannesburg za pos purchase click campus squarjohannesburg za airtime purchase mtn pos purchase parktown convenience ceparktown za pos purchase makro crownmines crown mine za instant payment pos purchase uber sa help uber com johannesburg inter account tranfer recieved atm withdrawal airtime purchase mtn inter account tranfer recieved payment withdrawal notification sms fee instant payment bank app transfer author network atm cash withdrawal fnb ssc atm card cash withdrawal fee atm sms notification fee flm rennie house eater braamfontein card bank app transfer author network sms notification fee flm rennie house eater braamfontein card bank app prepay purchase cellc bank app prepay purchase cellc bank app transfer author network atm cash withdrawal fnb ssc atm card cash withdrawal fee atm sms notification fee flm rennie house eater braamfontein card flm rennie house eater braamfontein card flm rennie house eater braamfontein card bank app transfer author network atm cash withdrawal fnb ssc atm card cash withdrawal fee atm sms notification fee atm cash deposit cash dep dnr vryburg cash deposit fee note atm cash withdrawal jnb braamfontein atm cash withdrawal fee sms notification fee payment receive explore software transfer sms notification fee atm cash withdrawal jhb glen card airtime debit notific fee sms overseas purchase atm withdrawal jorrisen ibank payment pb reward absa bank ibank payment pos purchase bp fill sta pos purchase bp fill sta acb debit external virgin act management fee'

In [29]:
obj = TfidfVectorizer()
final_features = obj.fit_transform(new_features)
print(final_features[0])

  (0, 119)	0.0025916913455350794
  (0, 1)	0.0025916913455350794
  (0, 376)	0.005183382691070159
  (0, 138)	0.005183382691070159
  (0, 334)	0.0025916913455350794
  (0, 291)	0.0025916913455350794
  (0, 182)	0.005183382691070159
  (0, 201)	0.0025916913455350794
  (0, 280)	0.0025916913455350794
  (0, 265)	0.0025916913455350794
  (0, 88)	0.005183382691070159
  (0, 162)	0.0025916913455350794
  (0, 198)	0.0025916913455350794
  (0, 264)	0.0025916913455350794
  (0, 429)	0.0025916913455350794
  (0, 93)	0.0025916913455350794
  (0, 95)	0.005183382691070159
  (0, 50)	0.005183382691070159
  (0, 375)	0.007775074036605239
  (0, 145)	0.007775074036605239
  (0, 259)	0.010366765382140318
  (0, 17)	0.010366765382140318
  (0, 408)	0.005183382691070159
  (0, 189)	0.005183382691070159
  (0, 186)	0.005183382691070159
  :	:
  (0, 67)	0.015550148073210477
  (0, 26)	0.007775074036605239
  (0, 194)	0.0025916913455350794
  (0, 193)	0.005183382691070159
  (0, 341)	0.0025916913455350794
  (0, 312)	0.0025916913455350794
  (0, 35)	0.05960890094730683
  (0, 109)	0.06997566632944714
  (0, 327)	0.08293412305712254
  (0, 143)	0.08034243171158746
  (0, 200)	0.04405875287409635
  (0, 177)	0.10625934516693826
  (0, 328)	0.028508604800885875
  (0, 355)	0.03628367883749111
  (0, 443)	0.11921780189461366
  (0, 165)	0.0025916913455350794
  (0, 284)	0.005183382691070159
  (0, 183)	0.005183382691070159
  (0, 78)	0.0025916913455350794
  (0, 23)	0.005183382691070159
  (0, 71)	0.023325222109815715
  (0, 10)	0.005183382691070159
  (0, 40)	0.005183382691070159
  (0, 87)	0.005183382691070159
  (0, 252)	0.015550148073210477

In [30]:
X_train, X_test, y_train, y_test = train_test_split(final_features, y.values, test_size=0.20)

In [31]:
from sklearn.svm import LinearSVC
cls = LinearSVC(multi_class='crammer_singer', dual=False, fit_intercept=False)

In [32]:
y_pred = cls.fit(X_train, y_train.ravel())

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [33]:
pred1 = cls.predict(X_test)

In [34]:
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, pred1))

Mean squared error: 10.29

In [35]:
print(classification_report(y_test, pred1))

              precision    recall  f1-score   support

           0       0.32      1.00      0.49        61
           1       0.00      0.00      0.00        47
           2       0.00      0.00      0.00        38
           3       0.00      0.00      0.00        10
           4       0.00      0.00      0.00         7
           5       0.00      0.00      0.00         7
           6       0.00      0.00      0.00         2
           7       0.00      0.00      0.00         5
           8       0.00      0.00      0.00         2
           9       0.00      0.00      0.00         4
          10       0.00      0.00      0.00         6

    accuracy                           0.32       189
   macro avg       0.03      0.09      0.04       189
weighted avg       0.10      0.32      0.16       189

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [36]:
y_predicted = pd.DataFrame({'PredictItem_ID':pred1})
y_predicted.head()

   PredictItem_ID
0               0
1               0
2               0
3               0
4               0

In [37]:
mapping = dict(y_unique[['New_ID','index']].values)
y_predicted['ItemCategory_New'] = y_predicted.PredictItem_ID.map(mapping)
y_predicted.head()

   PredictItem_ID ItemCategory_New
0               0        transport
1               0        transport
2               0        transport
3               0        transport
4               0        transport

In [38]:

y_predicted = np.array(y_predicted.drop('PredictItem_ID', axis=1))
y_predicted[:5]

array([['transport'],
       ['transport'],
       ['transport'],
       ['transport'],
       ['transport']], dtype=object)

In [39]:
submission = pd.DataFrame({'description' : features2[X_train.shape[0]:],'category' : y_predicted.ravel()})

In [40]:
submission.head()

                      description   category
0           FEE - PRE-PAID TOP UP  transport
1  CHECKERS BRAM 5326*9249 11 JAN  transport
2  C*ENGEN CONRA 5326*9249 13 JAN  transport
3  C*ENGEN PAARD 5326*9249 13 JAN  transport
4  I*MR D FOOD Z 5326*9249 14 JAN  transport